text {
width: 750px;
font-family: Arial, Verdana, sans-serif;
color: #665544;
}
h1 {
background-color: #efefef;
padding: 10px;
text-align: center;
}
p {
margin-left: 50px;
margin-right: 50px;
border: 10px solid black;
padding: 10px 10px 10px 10px;
background-color: bisque;
}
.p2{
position: relative;
top: 10px;
left: 50px;}
* {
font-family: Arial, Verdana, sans-serif;
color: #665544;
text-align: center;}
#nav, #feature, .article, #footer {
background-color: #efefef;
margin-top: 20px;
padding: 10px 0px 5px 0px;}
#feature, .article {
height: 100px;}
li {
display: inline;
padding: 5px;}